<div id="<%= dom_id play_list %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= play_list.title %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this play list", play_list, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this play list', edit_play_list_path(play_list), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
