

<div class="hero h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <% if  current_user %>
      <% else %>
        <li><%= link_to 'Sign up', new_user_session_path %></li>
        <li><%= link_to 'Sign in', user_session_path %></li>
      <% end %>
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5"> Enjoy your  Moments with music.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
