<% if  current_user %>
<% else %>
  <li><%= link_to 'Sign up', new_user_session_path %></li>
  <li><%= link_to 'Sign in', user_session_path %></li>
<% end %>

<h1 class="text-3xl font-bold underline bg-red-200">
  Enjoy your  Moments with music
</h1>

<input type="radio" name="radio-1" class="radio" checked />
<input type="radio" name="radio-1" class="radio" />
